#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

.products__single {
  padding-bottom: 10px;
  width: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(43, 50, 62);
  gap: 10px;
}

.products__single > img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination > span {
  padding: 15px 20px;
  border: 1px solid rgb(71, 52, 52);
  cursor: pointer;
}
.pagination :hover {
  border-color: rgba(255, 0, 0, 0.422);
}

.pagination__selected {
  background-color: rgba(71, 68, 68, 0.655);
}
.pagination__disabled {
  visibility: hidden;
}
